@import '../../static/variables/variables.scss';

.main {
	position: relative;
	margin-top: 45px;
	&__title {
		font-weight: 500;
		font-size: 25px;
		line-height: 163%;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: $main-color;
		margin-bottom: 25px;
		&_hl {
			color: $second-color;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.main {
		margin-top: 20px;
	}
}
