@import '../../static/variables/variables.scss';

.main {
	position: relative;
	margin-top: 45px;
	&__title {
		font-family: $roboto;
		font-weight: 500;
		font-size: 25px;
		line-height: 163%;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #444;
		margin-bottom: 25px;
		&_hl {
			color: #0568c3;
		}
	}
}
