@import '../../static/variables/variables.scss';

.test {
	&__block {
		display: flex;
		flex-direction: column;
		justify-content: center;
		&_isVisible {
			height: 1000px;
		}
	}
	&__card {
		position: relative;
		display: flex;
		align-items: center;
		gap: 15px;
		&_arrow {
			position: relative;
			z-index: 999;
			overflow: hidden;
			background-color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			border: 1px solid #444;
			border-radius: 3px;
			min-width: 40px;
			min-height: 40px;
			&_active {
				border: 1px solid #0568c3;
			}
		}
		&_title {
			font-family: $roboto;
			font-weight: 400;
			font-size: 21px;
			line-height: 125%;
			color: #444;
		}
		&_description {
			position: relative;
			margin-top: 20px;
			display: flex;
			&_visible {
				visibility: visible;
			}
		}

		&_line {
			position: absolute;
			top: -27px;
			left: 18px;
			width: 3px;
			height: 33px;
			border-right: 1px dashed #d0d0d0;
			&_visible {
				height: 228px;
			}
			&_inVisible {
				height: 0px;
			}
		}
		&_text {
			display: none;
			margin-left: 55px;
			font-family: $roboto;
			font-weight: 400;
			font-size: 14px;
			line-height: 143%;
			color: #444;
			&_visible {
				display: block;
			}
		}
		&_link {
			font-family: $roboto;
			font-weight: 500;
			font-size: 14px;
			line-height: 143%;
			letter-spacing: 0.1em;
			text-transform: capitalize;
			text-align: center;
			text-decoration: none;
			color: #0568c3;
		}
		&_block {
			display: none;
			margin-left: 55px;
			margin-top: 10px;
			margin-bottom: 30px;
			&_visible {
				display: flex;
				align-items: center;
				gap: 10px;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.test {
		&__card {
			&_text {
				max-width: 498px;
			}
		}
	}
}
