@import '../../static/variables/variables.scss';

.footer {
	margin-top: 10px;
	background: #323232;
	color: #fff;
	padding: 20px;
	&__line {
		width: 100%;
		height: 1px;
		background: $main-color;
		margin-top: 10px;
		&_second {
			display: none;
		}
	}
	&__contact {
		margin-top: 20px;
	}
	&__description {
		margin-top: 20px;
		font-weight: 400;
		font-size: 14px;
		line-height: 143%;
	}
	&__social {
		margin-top: 20px;
		display: flex;
		gap: 15px;
	}
	&__text {
		font-weight: 400;
		font-size: 15px;
		line-height: 133%;
		text-align: center;
		color: #9b9b9b;
	}
	&__gallery {
		margin-top: 30px;
		&_card {
			display: flex;
			align-items: center;
			justify-content: space-around;
			gap: 10px;
		}
		&_secondcard {
			align-items: center;
			margin-top: 20px;
			display: flex;
			justify-content: space-around;
			gap: 10px;
		}
		&_descr {
			margin-top: 20px;
			font-weight: 400;
			font-size: 14px;
			line-height: 143%;
			text-align: center;
			letter-spacing: 0.02em;
		}
		&_prom {
			width: 188px;
			height: 147px;
			background-image: url('../../static/prom.webp');
		}
		&_energy {
			width: 188px;
			height: 147px;
			background-image: url('../../static/energy.png');
		}
		&_human {
			width: 188px;
			height: 147px;
			background-image: url('../../static/human.webp');
		}
		&_test {
			width: 188px;
			height: 147px;
			background-image: url('../../static/test.webp');
		}
		&_img {
			width: 215px;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.footer {
		margin-top: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 150px;
		&__lineblock {
			display: flex;
			gap: 12px;
		}
		&__line {
			width: 225px;
			&_second {
				display: block;
				width: 225px;
				height: 1px;
				background: $main-color;
				margin-top: 10px;
			}
		}

		&__contact {
			margin-top: 0px;
			max-width: 258px;
		}
		&__gallery {
			margin-top: 0px;
			&_img {
				display: flex;
			}
			&_descr {
				margin-top: 0px;
				max-width: 125px;
			}
			&_prom {
				width: 103px;
				height: 81px;
				background-image: url(../../static/prom-desktop.webp);
			}
			&_energy {
				width: 103px;
				height: 81px;
				background-image: url(../../static/energy-desktop.webp);
			}
			&_human {
				width: 103px;
				height: 81px;
				background-image: url(../../static/human-desktop.webp);
			}
			&_test {
				width: 103px;
				height: 81px;
				background-image: url(../../static/test-desktop.webp);
			}
		}
	}
}
