.App {
	display: flex;
	align-items: left;
	justify-content: center;
	flex-direction: column;
	/* padding: 20px; */
}

.wrapper {
	padding: 20px;
}

@media only screen and (min-width: 1024px) {
	.wrapper {
		display: flex;
		justify-content: center;
		gap: 50px;

	}
}