@import './static/variables/variables.scss';

.App {
	font-family: $roboto;
	display: flex;
	align-items: left;
	justify-content: center;
	flex-direction: column;
}

.wrapper {
	padding: 20px;
}

@media only screen and (min-width: 1024px) {
	.wrapper {
		display: flex;
		justify-content: center;
		gap: 50px;
	}
}
